@import "tailwindcss";

body,
html {
  @apply font-sans bg-primary text-secondary leading-[1];
}

.container {
  @apply max-w-screen-2xl mx-auto px-4 lg:px-8 relative z-2;
}

@theme {
  --font-sans: "Neue Montreal", sans-serif;

  /* Colors */
  --color-primary: #0c0d0e;
  --color-secondary: #F0F0F0;
  --color-tertiary: #F4EFE6;
  --color-accent: #ff740f;
  --color-neutral-gray: #F3F3F3;
  --color-mid-gray: #949494;
  --color-beige: #F4EFE6;
  --color-dark-gray: #232323;


  /* Font Sizes */
  --base-size: 0.25rem;
}

@layer components {
  .heading {
    @apply text-[40px] md:text-[80px] lg:text-[100px] font-medium;
  }
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/fonts/NeueMontreal-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}